@using TerminalArchive.WebUI.HtmlHelpers
@model TerminalArchive.WebUI.Models.TerminalDetailViewModel

@{
    ViewBag.Title = "Терминал";
}

@*<p>
    @Html.ActionLink("Новый терминал", "Add")
</p>*@

<div class="well">
    <h2>Детальные данные</h2>
    <h4>Терминал: @Model.Terminal.Name</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    <div>
        <h3>
            @*<strong>
                <p>
                    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Terminal.Id, page = Model.PagingInfo.CurrentPage })
                </p>
            </strong>*@
            <span>Хасп: @Model.Terminal.IdHasp</span><br />
        </h3>


        <span>Адрес: @Model.Terminal.Address</span><br/>
        <span>Номера групп: @Model.Terminal.GroupsIdsString</span><br/>
        <span>Названия групп: @Model.Terminal.GroupsNamesString</span><br/>
        
        <div class="table col-md-8">
        @*<table>
            <thead>
                <tr>
                    <th>Id параметра</th>
                    <th>Терминал</th>
                    <th>Название</th>
                    <th>Путь</th>
                    <th>Значение</th>
                    <th>Сохранен</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var parametr in Model.Terminal.Parameters)
            {
                    <tr>
                        <td>@parametr.Id</td>
                        <td>@parametr.TId</td>
                        <td>@parametr.Name</td>
                        <td>@parametr.Path</td>
                        <td>@parametr.Value</td>
                        <td>@parametr.Saved</td>
                    </tr>
                }
            </tbody>
        </table>*@

        <table>
            <thead>
                <tr>
                    <th>Id заказа</th>
                    <th>RNN</th>
                    <th>Статус заказа</th>
                    <th>Топливо</th>
                    <th>Тип оплаты</th>
                    <th>Цена до налива</th>
                    <th>Окончательная цена</th>
                    <th>Количество до налива</th>
                    <th>Окончательное количество</th>
                    <th>Сумма до налива</th>
                    <th>Окончательная сумма</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Terminal.Orders.Values)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.Rnn</td>
                        <td>@order.StateName</td>
                        <td>@order.FuelName</td>
                        <td>@order.PaymentName</td>
                        <td>@order.PrePrice</td>
                        <td>@order.Price</td>
                        <td>@order.PreQuantity</td>
                        <td>@order.Quantity</td>
                        <td>@order.PreSumm</td>
                        <td>@order.Summ</td>
                    </tr>
                }
            </tbody>
        </table>
       </div>
        <div class="btn-group pull-right">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("Details", new { page = x }))
        </div> 
   </div>
</div>
