@using TerminalArchive.Domain.DB
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse col-md-10" role="navigation">
        <a class="navbar-brand" href="#">Terminal archive - мониторинг бензо терминалов! </a>
        @{
            ViewBag.User = User?.Identity?.Name;
            ViewBag.IsAdmin = DbHelper.UserIsAdmin(User?.Identity?.Name);
        }        
        @using (Html.BeginForm("Logout", "Account"))
        {
            if (!string.IsNullOrWhiteSpace(ViewBag.User))
            {
                <div class="form-group">
                    Вы вошли как: @ViewBag.User
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Сменить пароль" @*class="btn btn-default"*@ name="submitButton" />
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Выйти" @*class="btn btn-default"*@ name="submitButton"/>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    Для просмотра информации - авторизуйтесь!
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.RouteLink("Войти", new
                        {
                            controller = "Account",
                            action = "Login"
                        })
                    </div>
                </div>
            }
        }
    </div>
    <div class="row panel col-md-10" >
        <div id="categories" class="col-md-2">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
</body>
</html>